*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.remove{
    display: none;
}


body {

    background-size: 200%;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgb(207, 145, 10) 100%);
    color: ghostwhite;


}

body.dark{
    background: linear-gradient(0deg, rgba(68,147,148,1) 0%, rgba(13,12,11,1) 100%);
    color:var(--text-color1);
    color: ghostwhite;
    
    
}


.menu {
    background-color: aliceblue;
    justify-content:center;
    width: 100%;
    padding: 10px;
    opacity: 60%;
    text-decoration: none;
    font-size: 40px;
    align-items: center;
    display: flex;


}


.cabecalho{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    opacity: 85%;
    padding-bottom: 55px;

}


.informativo {
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-left: 15%;
    padding-right: 15%;

}

.paragrafo{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    opacity: 85%;
    display: flex;
    

}


.texto_guita{
    font-size: 50px;
    width: 100%;
    opacity: 85%;
    padding-top: 200px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 110px;
    justify-content: center ;
    text-align: center;
}

.foto{
    width: 400px;
    height: 400px;
    padding-left: 50px;

    /* https://www.youtube.com/watch?v=jhLHQYZayeQ */

}

.kiko {
    align-items:stretch;
    

}

.texto_geral{
    opacity: 90%;
    width: 100%;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 10%;
    padding-top: 30px;

}

.imagem_trabalho {
    width: 20%;
    padding-top: 40px;
    margin-right: 10px;
    margin-left: 50px;
    margin-bottom: 200px;
    

}

.apresentacao {
    display: flex;

}

.trabalhos_kiko {
    display: flex;

}

a {
    text-decoration: none;
    color: purple;

}

.botao {

    background-color: rgb(181, 32, 32);
    width: 50px;
    height: 50px;
    font-size: 40px;
    justify-content: center;
    display: flex;
    color: rgb(44, 2, 85);

}

.opcoes {

    margin-left: 140px;
    margin-right: 50px;
    align-items: center;
    padding: 20px 20px 20px 20px;
    color: rgb(70, 4, 56);

}

.footer {

    background-color: rgb(10, 125, 27);
    width: 100%;
    padding-bottom: 100px;
    position: relative;
    align-items: center;
    justify-content: center;
    opacity: 80%;
}

.texto_footer {

    height: -50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}
  
.topo {
    width: 95%;
    margin-bottom: 20px;
    display: flex;
    justify-content: end;
    text-align: end;


}

#label{
    margin: 0;
}

#chk {
    cursor: pointer;

}