*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body{
    background-size: 200%;
    background-color: rgb(195, 189, 189);
    color: black;
    transition: background 0.2s linear;

}

body.dark {

    background-size: 200%;
    background-image: linear-gradient(70deg, #121925, #041b3a, #001b4f, #001961, #141071);
    color: ghostwhite;


}


.menu {
    background-color: aliceblue;
    position: fixed;
    justify-content:center;
    width: 100%;
    padding: 10px;
    opacity: 60%;
    text-decoration: none;
    font-size: 40px;
    align-items: center;
    display: flex;


}


.cabecalho{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    opacity: 85%;
    padding-bottom: 55px;

}


.informativo {
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-left: 15%;
    padding-right: 15%;

}

.paragrafo{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    opacity: 85%;
    display: flex;
    

}


.texto_guita{
    font-size: 50px;
    width: 100%;
    opacity: 85%;
    padding-top: 200px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 110px;
    justify-content: center ;
    text-align: center;
}

.foto{
    width: 400px;
    height: 400px;
    padding-left: 50px;

    /* https://www.youtube.com/watch?v=jhLHQYZayeQ */

}

.kiko {
    align-items:stretch;
    

}

.texto_geral{
    opacity: 90%;
    width: 100%;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 10%;
    padding-top: 30px;

}

.imagem_trabalho {
    width: 20%;
    /* padding-left: 50px; */
    padding-top: 40px;
    margin-right: 10px;
    margin-left: 50px;
    margin-bottom: 200px;
    

}

.apresentacao {
    display: flex;

}

.trabalhos_kiko {
    display: flex;

}

a {
    text-decoration: none;
    color: purple;
}

.botao {

    width: 50px;
    background-color: red;
    justify-content: center;
    display: flex;
    margin-right: 400px;


}

.opcoes {

    margin-left: 140px;
    margin-right: 50px;
    align-items: center;
    padding: 20px 20px 20px 20px;

}

.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
  
  }
  
  
  .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
  
